{% extends 'main_base.html' %}
{% block name_page %}Блог{% endblock %}
{% block link_style %}
    <link rel="stylesheet" type="text/css" href="../static/starbuzz.css">{% endblock %}
{% block main_info %}
    <div class="tableContainer">
        <div class="tableRow">
            <section id="drinks">
                <h1>НАПИТКИ</h1>
                <p>Эспрессо 300₽</p>
                <p>Ристретто 300₽</p>
                <p>Лунго 300₽</p>
                <p>Американо 300₽</p>
                <p>Капучино, 300₽</p>
                <p>Макиато 300₽</p>
                <p>Латте, 300₽</p>
                <p>Кон Панна 300₽</p>
                <p>Мокко, 300₽</p>
                <p>Раф кофе 300₽</p>
            </section>

            <section id="blog">
                <article>
                    <header>
                        <h1>Starbuzz запускает… технологию «Чашка Tweet Sip»</h1>
                        <time datetime="2012-05-03">3.05.2022</time>
                    </header>
                    <p>
                        Как и было обещано, сегодня я с гордостью объявляю, что кафе Starbuzz
                        запускает технологию «Чашка Tweet Sip» – это специальная чашка в кафе Starbuzz,
                        которая генерирует твит каждый раз, когда вы отпиваете из нее глоток!
                        Подробнее о нашем изобретении вы сможете узнать из моего видео.
                    </p>
                </article>
                <article>
                    <header>
                        <h1>Starbuzz знакомится с социальными сетями</h1>
                        <time datetime="2012-03-12">12.03.2022</time>
                    </header>
                    <p>
                        Здесь, в Starbuzz, мы поддаемся увлечению социальными сетями. На самом деле, мы идем дальше, чем
                        любой из наших конкурентов, и мы очень близки к анонсу революционного нового продукта, который
                        напрямую связывает ваше потребление кофе с вашей социальной сетью. Забудьте о "регистрации"; мы
                        идем
                        дальше этого, и с этим новым продуктом каждым глотком гладкой, ароматной, горячей смеси Starbuzz
                        вы
                        сможете поделиться в своей социальной сети.
                    </p>
                    <p>
                        Звучит как научная фантастика? Это не так; я уже тестирую наш окончательный прототип social
                        network
                        cup, когда пишу это, который связывает вас, любителя выпить, прямо с вашими любимыми социальными
                        сетями. Мы вложили огромные средства, чтобы это произошло, и создали многоразовую кофейную чашку
                        в
                        комплекте с RFID, NFC, Bluetooth и Wi-Fi (не говоря уже о еще нескольких вещах, о которых знают
                        технические специалисты, потому что эй, я просто любитель кофе).
                    </p>
                    <p>
                        Звучит как научная фантастика? Это не так; я уже тестирую наш окончательный прототип social
                        network
                        cup, когда пишу это, который связывает вас, любителя выпить, прямо с вашими любимыми социальными
                        сетями. Мы вложили огромные средства, чтобы это произошло, и создали многоразовую кофейную чашку
                        в
                        комплекте с RFID, NFC, Bluetooth и Wi-Fi (не говоря уже о еще нескольких вещах, о которых знают
                        технические специалисты, потому что эй, я просто любитель кофе).
                    </p>
                </article>

                <article>
                    <header>
                        <h1>Starbuzz использует компьютерные науки</h1>
                        <time datetime="2012-03-10">10.3.2022</time>
                    </header>
                    <p>
                        Вы когда-нибудь замечали, насколько эффективна кофейня Starbuzz? Очереди всегда движутся быстро,
                        и,
                        несмотря на астрономическое количество различных напитков, которые может заказать любой клиент,
                        мы
                        приготовим ваш напиток горячим (или холодным, если вы этого хотите) за считанные секунды. Как мы
                        это
                        делаем?
                    </p>
                    <p>
                        Чтобы осуществить это, мы используем преимущества новейших и величайших достижений в области
                        компьютерных наук. Фактически, мы обучаем наших сотрудников тому, чтобы они были одним большим
                        распределенным компьютером. Кассиры создают заказы для распределенного компьютера, в комплекте с
                        вашим именем и специальными инструкциями по напиткам. Затем наши специализированные
                        производители
                        напитков берут следующую чашку и продолжают работать над вашим заказом, пока он не будет готов.
                    </p>
                    <p>
                        Благодаря такому дизайну мы можем горизонтально масштабировать нашу деятельность в любое удобное
                        для
                        нас время. Все, что нам нужно сделать, это добавить больше кассиров и производителей напитков
                        (не
                        говоря уже о большом количестве обслуживающего персонала, которого вы никогда не увидите) по
                        мере
                        роста потока клиентов.
                    </p>
                </article>

                <article>
                    <header>
                        <h1>Самый уникальный клиент месяца</h1>
                        <time datetime="2012-02-18">18.2.2022</time>
                    </header>
                    <p>
                        Наша самая уникальная награда "клиент месяца" присуждается клиенту из Поулсбо, штат Вашингтон,
                        чей ежедневный утренний заказ - "латте с шестью сливками, без пены, 130-градусный нежирный
                        соевый, с
                        добавлением сливок перед добавлением молока". У нас есть уникальные клиенты или что?
                    </p>
                </article>
            </section>

            <aside class="right_column">
                <p class="beanheading">
                    <img src="../static/images/bag.gif" alt="Bean Machine bag">
                    <br>
                    Чтобы сделать ОНЛАЙН-ЗАКАЗ
                    <a id='do_order' href="/form" title="Нажмите для заказа">ЗАКАЗАТЬ КОФЕ</a>
                    <br>
                    <span class="slogan">
                        СВЕЖИЙ <br>
                        БЫСТРЫЙ <br>
                        ПРЯМО К ВАМ ДОМОЙ <br>
                    </span>
                </p>
                <p>
                    Чего вы ждете? Вы можете заказать любой сорт кофе через Интернет Как это работает?
                    Просто щелкните на кнопку ЗАКАЗАТЬ КОФЕ, оформите заказ, и ваш кофе будет доставлен.
                </p>
            </aside>
        </div>
    </div>
{% endblock %}