{% extends 'main_base.html' %}
{% block name_page %}Домашняя{% endblock %}
{% block link_style %}
    <link rel="stylesheet" type="text/css" href="../static/starbuzz.css">{% endblock %}
{% block main_info %}
    <div class="tableContainer">
        <div class="tableRow">
            <section id="drinks">
                <h1>НАПИТКИ</h1>
                <p>Эспрессо 300₽</p>
                <p>Ристретто 300₽</p>
                <p>Лунго 300₽</p>
                <p>Американо 300₽</p>
                <p>Капучино 300₽</p>
                <p>Макиато 300₽</p>
                <p>Латте 300₽</p>
                <p>Кон Панна 300₽</p>
                <p>Мокко 300₽</p>
            </section>
            <section id="main">
                <h1>КАЧЕСТВЕННЫЙ КОФЕ, КАЧЕСТВЕННЫЙ КОФЕИН</h1>
                <p>
                    В кафе Starbuzz мы делаем все для того, чтобы удовлетворить вашу потребность в кофеине
                    посредством качественного кофе и чая. Конечно же, мы бы хотели, чтобы вы всегда заказывали
                    самую большую чашку кофе и получали максимальный заряд бодрости, но мы являемся единственной
                    компанией, которая активно контролирует и оптимизирует уровень кофеина в своих напитках.
                    Итак, остановитесь и закажите кофе с помощью новой формы. Вы получите качественный кофе
                    Starbuzz, содержание кофеина в котором соответствует потребностям вашего организма.
                </p>
                <p>
                    Упоминали ли мы о <em>кофеине</em>? Мы совсем недавно начали Финансировать ребят, которые
                    проводят поразительные исследования на сайте <a
                        href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D1%84%D0%B5%D0%B8%D0%BD"
                        title="Все о кофеине">Все о кофеине</a>.
                    Если вы хотите знать самые свежие новости о кофе и других продуктах, содержащих кофеин,
                    зайдите на этот сайт.
                </p>
                <h1>НАША ИСТОРИЯ</h1>
                <p>
                    «Человек, план, кофейное зернышко». Ладно, палиндром не получился, зато получилась
                    чертовски хорошая чашка кофе. Генеральный директор Starbuzz — как раз тот самый человек,
                    и вы уже знаете, каков его план: Starbuzz на каждом углу.
                </p>
                <p>
                    Всего лишь за несколько лет он достиг своей цели, и сегодня вы можете наслаждаться
                    напитками Starbuzz в любом месте. И конечно же, главная новость в этом году такова —
                    сотрудники Starbuzz объединились с читателями Head First для создания веб-обшества
                    Starbuzz, которое очень быстро растет и помогает удовлетворять потребность в кофеине
                    абсолютно новой группы клиентов.
                </p>
                <h1>НАПИТКИ КАФЕ STARBUZZ</h1>
                <p>
                    Кафе Starbuzz предлагает большой выбор кофеиносодержащих напитков, включая наши: Латте, Капучино и
                    Масала.
                <p>
                    Мы также предлагаем вам множество сортов кофе в зернах и молотого кофе,
                    которые вы можете взять с собой. Сегодня вы также можете заказать себе кофе,
                    используя специальную форму <a href="/form" title="The Bean Machine">
                    Bean Machine</a>, и наслаждаться напитками кафе Starbuzz прямо у себя дома.
                </p>
            </section>

            <aside class="right_column">
                <p class="beanheading">
                    <img src="../static/images/bag.gif" alt="Bean Machine bag">
                    <br>
                    Чтобы сделать ОНЛАЙН-ЗАКАЗ
                    <a id='do_order' href="/form" title="Нажмите для заказа">ЗАКАЗАТЬ КОФЕ</a>
                    <br>
                    <span class="slogan">
                        СВЕЖИЙ <br>
                        БЫСТРЫЙ <br>
                        ПРЯМО К ВАМ ДОМОЙ <br>
                    </span>
                </p>
                <p>
                    Чего вы ждете? Вы можете заказать любой сорт кофе через Интернет Как это работает?
                    Просто щелкните на кнопку ЗАКАЗАТЬ КОФЕ, оформите заказ, и ваш кофе будет доставлен.
                </p>
            </aside>
        </div>
    </div>
{% endblock %}