{% extends 'base.html' %}
{% block title_page %}
    Рецепт Американо
{% endblock %}
{% block name_of_coffee %}
    Американо
{% endblock %}
{% block image_coffee %}
    <img class=pos_photo_of_coffe alt="эспрессо" src="../static/images/американо.png" width="300" height="200">
{% endblock %}
{% block ol_recipe %}
    <h2>Рецепт приготовления:</h2>
    <li>Включить кофемашину и подождать, пока загорится индикатор готовности.</li>
    <li>Если кофемашина оснащена кофемолкой, положить в неё столовую ложку с горкой кофейных зёрен.</li>
    <li>Если кофеварка – рожковая, отмерить 7–11 г молотого кофе (мерной ёмкостью или чайной ложкой, в 1
        чайной ложке – 3 г). Темпером утрамбовать кофе в рожке, прилагая усилие не менее 20 кг.
    </li>
    <li>Установить рожок в кофеварку.</li>
    <li>Подогреть большую толстостенную чашку (к примеру, бокал для латте) для кофе и другую – горячей
        воды.
    </li>
    <li>Установить чашку для эспрессо в лоток для сбора капель, время приготовления кофе – 25–30 секунд.
    </li>
    <li>Во вторую чашку набрать горячей воды (ориентировочная температура – от +90 до +92 °C).</li>
    <li>Смешать ингредиенты. Добавить сахар по вкусу.</li>
{% endblock %}
{% block table_of_propor %}
    <tr id="первая_строка_таблицы">
        <th>Кофе</th>
        <th>Вода</th>
    </tr>
    <tr>
        <td>7 – 11 г</td>
        <td>30 - 470 мл</td>
    </tr>
{% endblock %}





