{% extends 'base.html' %}
{% block title_page %}
    Рецепт Эспрессо
{% endblock %}
{% block name_of_coffee %}
    Эспрессо
{% endblock %}
{% block image_coffee %}
    <img class=pos_photo_of_coffe alt="эспрессо" src="../static/images/эспрессо.png" width="300" height="200">
{% endblock %}
{% block ol_recipe %}
    <h2>Рецепт приготовления:</h2>
    <li>Перемолотые кофейные зерна помещаются в турку и заливаются чистой питьевой водой.
        Перед началом приготовления турку желательно немного прогреть.
    </li>
    <li>Эспрессо варится на медленном огне до поднимания кофейной пенки. Нельзя допускать
        момента кипячения, иначе напиток потеряет насыщенный вкус.
    </li>
    <li>После появления пенки снимите кофе с огня, помешайте чайной ложкой содержимое турки
        и поставьте ее обратно на огонь. Дождитесь вторичного поднятия пены – теперь эспрессо готов.
    </li>
    <li>Оставьте напиток на пару минут, чтобы гуща настоялась. Разлейте кофе по специальным
    чашечкам ‒ «демитас». Можете наслаждаться потрясающим насыщенным кофейным вкусом!
{% endblock %}
{% block table_of_propor %}
    <tr id="первая_строка_таблицы">
        <th>Кофе</th>
        <th>Вода</th>
    </tr>
    <tr>
        <td>7 - 9 г</td>
        <td>25 - 35 мл</td>
    </tr>
{% endblock %}